@using ASP.groep.L.Application.CQRS.DTOS
@model SiteDetailDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BluePrint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BluePrint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreeFarm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeFarm.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Commune)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Update</a> |
    <a asp-action="Index">Back to List</a>
</div>
