@model WorkSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>WorkSchedule Details</h1>

<div>
    <h4>Planner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTasks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTasks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
